# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled apps
*.app
*.xcuserstate
*.DS_store

*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad

# Settings file
bin/data/settings.xml
bin/data/example_output_fast.json
bin/data/example_output_pretty.json